<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.beikeapp">
    <!--小米推送服务SDK支持的最低安卓版本为2-->
    <uses-sdk android:minSdkVersion="8" />
    //入网许可
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //环信要求的权限
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    //小米推送要求的权限
    <permission
        android:name="com.example.beikeapp.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.beikeapp.permission.MIPUSH_RECEIVE" />

    <application
        android:name=".InitApp.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        //活动注册
        //启动页
        <activity android:name=".StartPage.WelcomeActivity" >

        </activity>
        //引导页
        <activity android:name=".StartPage.GuideActivity" />
        //登录页
        <activity android:name=".LoginPage.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginPage.RegisterGuideActivity" />
        <activity android:name=".LoginPage.ForgetPswActivity" />
        //学生注册
        <activity android:name=".StudentRegister.StudentLogin" />
        <activity android:name=".StudentRegister.StudentCheckCode" />
        <activity android:name=".StudentRegister.StudentRegisterAccount" />
        <activity android:name=".StudentRegister.StudentRegisterInfo" />
        <activity android:name=".StudentRegister.StudentRegisterSuccess" />
        //学生主页
        <activity android:name=".StudentMain.StudentMain" />
        <activity android:name=".StudentMain.Activity.SearchActivity" />
        <activity android:name=".StudentMain.Activity.DetailActivity"  android:launchMode="singleInstance"/>
        <activity android:name=".StudentMain.Activity.ExerciseMainActivity" />
        <activity android:name=".StudentMain.Activity.QuestionActivity" />
        <activity android:name=".StudentMain.Activity.CardActivity" />
        <activity android:name=".StudentMain.Activity.ExamActivity" />
        <activity android:name=".StudentMain.Activity.PracticeActivity" />
        <activity android:name=".StudentMain.Activity.ResultActivity" />
        //老师注册
        <activity android:name=".TeacherRegister.TeacherRegister_FirstActivity" />
        <activity android:name=".TeacherRegister.TeacherRegister_SecondActivity" />
        <activity android:name=".TeacherRegister.TeacherRegister_ThirdActivity" />
        //老师主页
        <activity android:name=".TeacherShiSheng.TeacherMainActivity" />
        //家长注册
        <activity android:name=".ParentRegister.parent_1_register_select_student" />
        <activity android:name=".ParentRegister.parent_2_register_info" />
        <activity android:name=".ParentRegister.parent_3_register_identify" />
        <activity android:name=".ParentRegister.parent_4_register_result" />
        //工具类
        <activity android:name=".Util.ChatUtil.GroupDetailsActivity" />
        <activity android:name=".Util.ChatUtil.GroupDetailsEditActivity" />
        <activity android:name=".Util.ChatUtil.ChatActivity" />
        <activity android:name=".Util.ChatUtil.GroupDetailsMemberListActivity" />
        <activity android:name=".Util.ChatUtil.GroupDetailsAddMembersActivity" />
        <activity android:name=".Util.ChatUtil.NewGroupActivity" />
        <activity android:name=".Util.ChatUtil.AddGroupActivity" />
        <activity android:name=".Util.ChatUtil.GroupSearchedDetailsActivity" />
        //环信服务、接收器、KEY
        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1132180325253152#beike" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        //小米推送
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" /> <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" /> <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        //小米广播
        <receiver
            android:name="com.example.beikeapp.Util.MessageReceiver"
            android:exported="true">
            <!--这里com.xiaomi.mipushdemo.DemoMessageRreceiver改成app中定义的完整类名-->
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>


    </application>

</manifest>